<div class="w-full lg:w-96 max-w-md">
  <form
    [formGroup]="authForm"
    class="bg-white shadow-md rounded-3xl px-8 pt-6 pb-8 mb-4"
  >
    <div *ngIf="isLoginRoute()" class="flex items-center mb-10">
      <h1 class="text-2xl">Login /</h1>
      <a
        href="/register"
        class="ml-2 hover:text-soft-orange ease-in-out duration-300 text-gray-400 text-base"
        >Sign Up</a
      >
    </div>
    <div *ngIf="isRegisterRoute()" class="flex items-center mb-10">
      <h1 class="text-2xl">Sign Up /</h1>
      <a
        href="/login"
        class="ml-2 hover:text-soft-orange ease-in-out duration-300 text-gray-400 text-base"
        >Login</a
      >
    </div>
    <div class="mb-10 relative" *ngIf="isRegisterRoute()">
      <label
        class="block text-gray-700 text-base font-bold absolute bottom-0"
        for="firstname"
        #firstNameLabel
      >
        First Name
      </label>
      <input
        class="appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight"
        id="firstname"
        type="text"
        formControlName="firstname"
        (focus)="onInputFocus(firstNameLabel)"
        [class.border-red-500]="
          authForm.controls['firstname'].dirty &&
          authForm.hasError('required', 'firstname')
        "
      />
      <small
        class="text-red-500 absolute right-0"
        *ngIf="
          authForm.controls['firstname'].dirty &&
          authForm.hasError('required', 'firstname')
        "
        >*First Name Required</small
      >
    </div>
    <div class="mb-10 relative" *ngIf="isRegisterRoute()">
      <label
        class="block text-gray-700 text-base font-bold absolute bottom-0"
        for="firstname"
        #lastNameLabel
      >
        Last Name
      </label>
      <input
        class="appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight"
        id="firstname"
        type="text"
        formControlName="firstname"
        (focus)="onInputFocus(lastNameLabel)"
        [class.border-red-500]="
          authForm.controls['lastname'].dirty &&
          authForm.hasError('required', 'lastname')
        "
      />
      <small
        class="text-red-500 absolute right-0"
        *ngIf="
          authForm.controls['lastname'].dirty &&
          authForm.hasError('required', 'lastname')
        "
        >*Last Name Required</small
      >
    </div>
    <div class="mb-10 relative">
      <label
        class="block text-gray-700 text-base font-bold absolute bottom-0"
        for="emailLabel"
        #emailLabel
      >
        Email
      </label>
      <input
        class="appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight"
        id="email"
        type="email"
        formControlName="email"
        (focus)="onInputFocus(emailLabel)"
        [class.border-red-500]="
          authForm.controls['email'].dirty &&
          authForm.hasError('required', 'email')
        "
      />
      <small
        class="text-red-500 absolute right-0"
        *ngIf="
          authForm.controls['email'].dirty &&
          authForm.hasError('required', 'email')
        "
        >*Email Required</small
      >
    </div>
    <div class="mb-10 relative">
      <label
        class="block text-gray-700 text-base font-bold absolute bottom-0"
        for="password"
        #passwordLabel
      >
        Password
      </label>

      <input
        class="appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight"
        id="password"
        type="password"
        formControlName="password"
        (focus)="onInputFocus(passwordLabel)"
        [class.border-red-500]="
          authForm.controls['password'].dirty &&
          authForm.hasError('required', 'password')
        "
      />
      <small
        class="text-red-500 absolute right-0"
        *ngIf="
          authForm.controls['password'].dirty &&
          authForm.hasError('required', 'password')
        "
        >*Password Required</small
      >
    </div>
    <div class="mb-2 relative" *ngIf="isRegisterRoute()">
      <label
        class="block text-gray-700 text-base font-bold absolute bottom-0"
        for="password"
        #confirmPasswordLabel
      >
        Confirm Password
      </label>

      <input
        class="appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight"
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        (focus)="onInputFocus(confirmPasswordLabel)"
        [class.border-red-500]="
          authForm.controls['confirmPassword'].dirty &&
          authForm.hasError('required', 'confirmPassword')
        "
      />
      <small
        class="text-red-500 absolute right-0"
        *ngIf="
          authForm.controls['confirmPassword'].dirty &&
          authForm.hasError('required', 'confirmPassword')
        "
        >*Please reenter your password</small
      >
    </div>
    <div class="mb-10">
      <a
        *ngIf="isLoginRoute()"
        href=""
        class="text-sm hover:text-soft-orange ease-in-out duration-300"
        >Forgot Password?</a
      >
    </div>
    <div class="flex items-center justify-between mb-20">
      <div class="flex" [ngClass]="{ invisible: isRegisterRoute() }">
        <input type="checkbox" />
        <p class="text-sm ml-2">Stay logged in</p>
      </div>
      <button
        (click)="onSubmit()"
        class="shadow-button bg-primary-teal hover:bg-light-sand hover:text-primary-teal text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline relative z-50 shadow"
        type="button"
      >
        {{ isLoginRoute() ? "Login" : "Register" }}
      </button>
    </div>
    <div class="mt-6 relative">
      <div
        class="absolute bg-white left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <p class="bg-white px-4 font-bold">OR</p>
      </div>
      <hr class="border-soft-orange" />
    </div>
    <button class="border w-full py-2 px-4 mt-6 flex items-center">
      <div class="h-10 w-10 flex-shrink-0">
        <img
          src="assets/images/social-icons/google-logo.png"
          alt="Sign in with Google"
          srcset=""
        />
      </div>
      <span class="flex-grow text-center lg:text-xl"
        >Continue with Google
      </span>
    </button>
  </form>
</div>
